## Build outputs and distributions
[Bb]in/
[Oo]bj/
TestResults/

## Visual Studio & IDE files
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.sln.docstates
*.ide/

## Temporary binaries and logs
*.log
crash.log
*.tmp
*.zip
dist/installer/
/rsync-win.exe
/cygwin64/
